<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="mt-3 ml-3">
<h3   >Введите математическое действие:</h3>

<form  class="form-inline  "  method="post" action="/calculatorAnswer">
    <div class="input-group">
        <input type = "text"  name="expression" class="form-control  " style="width: 400px;" >
        <div class="input-group-append сol-md-8"  >
            <button type="submit" class="btn btn-primary"   style="width: 60px;">=</button>
        </div>
    </div>
</form>
</body>
</html>